{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>

<form action="/accounts/login/" method="POST" id="loginform">
    {% if error %}
    <ul>
        <li>&#9432;&nbsp; {{ error }}</li>
    </ul>
    {% endif %}

    <p class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" name="email" type="email" value="{{ form.email.value }}">
    </p>
    
    <p class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" name="password" type="password">
        <a href="/accounts/reset/" title="Reset Your Password">Forgot your password?</a>
    </p>

    <button class="btn btn-primary" type="submit">Login</button>
</form>
{% endblock %}
